/*
 * Possible Blue - #5882FA
 * Possible Red  - #E9332D
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* General Classes */

.back-header {
    width: 100%;
}

.back-header .back-to-menu {
    display: inline-block;
    padding-left: 1rem;
    cursor: pointer;
}

.divider {
    height: 1px;
    width: 75%;
    display: block;
    margin: 0.75rem auto;

    background-color: #E5E5E5;
}

/* Directions */

.modal-content .modal-header .modal-title {
    font-weight: 600;
}

.modal-content .modal-body h5 {
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 300;
}

.modal-content .modal-body h6 {
    font-size: 1.5rem;
    margin-top: 0.75rem;
}

.modal-content .modal-footer .proctor {
    float: left;
}

.modal-content .modal-footer .michael {
    float: right;
}

@media(min-width: 768px) {
    .modal-content .modal-body h5 {
        font-size: 2rem;
    }
}

/* Individual Frames */

.frame {
    height: 100%;
    width: 100%;
    position: fixed;
    right: -100%;

    overflow-y: auto;
}

/* Menu */

.menu-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-frame .menu-title {
    margin-bottom: 1em;
}

.menu-frame .menu-title small {
    position: absolute;
}

.menu-frame .menu-title h1 {
    position: relative;
    top: -100%;
    margin-top: 0.75rem;
    line-height: 0.8em;
}

.menu-frame .menu-selections {
    display: flex;
    flex-direction: column;
}

.menu-frame .menu-selections div {
    height: 8em;
    width: 8em;
    margin: 0 0.5em;
    padding: 0.5em;
    top: -1em;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: passiveMove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    cursor: pointer;
}

.menu-frame div.input-group {
    margin: 0 1em;
}

.menu-frame .menu-footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	right: 0;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.5rem;
}

.menu-frame .menu-footer .most-awesome-guy-in-the-entire-world {
	margin-left: 0.5rem;
	font-weight: 300;
}

.menu-frame .menu-footer .halp {
	margin-right: 0.5rem;
}

@media(max-width: 360px) {

    .menu-title h1 {
        font-size: 5rem;
    }

    .menu-selections div:first-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .menu-selections div:last-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }
}

@media(min-width: 361px) {

    .menu-frame .menu-selections {
        flex-direction: row;
    }

    .menu-frame .menu-selections div:last-child {
        animation-delay: 0.5s;
    }
}

@keyframes passiveMove {
    0%   { top: -1em; }
    100% { top: 1em;  }
}

/* Create Game */

.createGame-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createGame-frame .createGame-options {
    margin-top: 2em;
    padding: 1em;
}

.createGame-frame .createGame-options h1 {
    text-align: center;
}

.createGame-frame .createGame-options h3:not(:first-child) {
    margin-top: 0.75em;
}

.createGame-frame .createGame-options .roundTime {
    margin-bottom: 0.75em;
}

.createGame-frame .createGame-options ul label {
    width: 100%;
    margin: 0;
}

/* Game Code */

.gameCode-frame small {
    display: block;
    margin: 3em auto 0;
    text-align: center;
}

.gameCode-frame .gameCode-code {
    text-align: center;
    line-height: 0.8em;
}

.gameCode-frame .gameCode-ready {
    display: block;
    margin: 2em auto 0.5em;
}

.gameCode-frame .gameCode-cancel {
    display: block;
    margin: 0 auto 2em;
}

.gameCode-frame .gameCode-teamList .gameCode-teamBlue,
.gameCode-frame .gameCode-teamList .gameCode-teamRed {
    margin-bottom: 2em;
}

@media(min-width: 768px) {

    .gameCode-frame .gameCode-teamList .gameCode-teamBlue,
    .gameCode-frame .gameCode-teamList .gameCode-teamRed {
        margin: 0;
    }

    .gameCode-frame .gameCode-teamList .gameCode-teamBlue ul,
    .gameCode-frame .gameCode-teamList .gameCode-teamRed ul {
        padding: 0;
    }

    .gameCode-frame .gameCode-teamList .gameCode-teamRed {
        float: right;
    }

    .gameCode-frame .gameCode-teamList .gameCode-teamRed h3 {
        text-align: right;
    }
}

/* Join Game */

.joinGame-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joinGame-frame .back-header {
    position: absolute;
    top: 0;
    left: 0;
}

.joinGame-frame h1 {
    text-align: center;
}

.joinGame-frame .joinGame-submitCode {
    text-align: center;
}

.joinGame-frame .joinGame-submitCode input {
    text-align: center;
    width: 10rem;
}

.joinGame-frame .joinGame-submitCode button {
    margin-top: 1em;
}

/* Choose Category Frame */

.chooseCategory-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    font-size: 1em;
}

.chooseCategory-frame .category {
    font-size: 2.5em;
}

.chooseCategory-frame span {
    font-weight: 300;
}

.chooseCategory-frame .divider {
    max-width: 20em;
}

.chooseCategory-frame .guessing {
    margin-bottom: 2em;
    font-size: 1em;
}

.chooseCategory-frame button {
    margin-bottom: 0.5rem;
}

.chooseCategory-frame .leaveGame {
    margin-bottom: 2em;
}

@media(min-width: 992px) {
    .chooseCategory-frame {
        font-size: 1.5em;
    }
}

/* Game Frame */

.game-frame .game-startOverlay {
    position: fixed;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.85);
}

.game-frame .game-startOverlay .game-startingNumbers {
    color: white;
    font-size: 50vw;
    font-weight: 300;
    text-align: center;
}

.game-frame .game-startOverlay .game-overlayMessage {
    color: white;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.game-frame .game-header {
    position: relative;
    width: 100%;
    top: 0;
    align-self: flex-start;

    text-align: center;
}

.game-frame .game-header .team-color {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;

    height: 0.75em;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    transition-duration: 0.5s;
    background-color: #ccc;
}

.game-frame .game-header .game-score {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-frame .game-header .team-color.blue {
    background-color: #0275d8;
}

.game-frame .game-header .team-color.red {
    background-color: #c9302b;
}

.game-frame .game-header .game-score .game-blueScore,
.game-frame .game-header .game-score .game-redScore {
    width: 10rem;
    margin: 0;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.game-frame .game-header .game-score .game-blueScore {
    border-bottom-right-radius: 0;
}

.game-frame .game-header .game-score .game-redScore {
    border-bottom-left-radius: 0;
}

.game-frame .game-header .game-score .game-blueScore .blue-score,
.game-frame .game-header .game-score .game-redScore .red-score {
    font-size: 2em;
    font-weight: 300;
}

.game-frame .game-header .game-gameCode {
    display: inline-block;
    margin: 0 auto;
    padding: 0.25em 0.5em;

    font-size: 1.25em;
    font-weight: 300;

    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.game-frame .game-round {
    position: relative;
    width: 100%;
    margin: 2.5em 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 1.5em;
    font-weight: 300;
}

.game-frame .game-round .game-category,
.game-frame .game-round .game-guessing, {
    margin: 0;
    text-align: center;
}

.game-frame .game-round .game-timer {
    margin: 0;

    font-size: 5em;
    font-weight: 300;
}

.game-frame .game-round .guessed-correct {
    z-index: 5;
}

.game-frame .game-round .game-guessing {
    margin-top: 0.75rem;
    text-align: center;
}

.game-frame .game-round .steal-wrong,
.game-frame .game-round .steal-right {
    z-index: 5;
}

.game-frame .game-round .steal-wrong {
    margin-bottom: 0.5em;
}

.game-frame .game-teamList {
    position: relative;
    width: 100%;
}

.game-frame .game-teamList .game-teamBlue,
.game-frame .game-teamList .game-teamRed {
    text-align: left;
    max-height: 80%;
    overflow-y: auto;
}

.game-frame .game-teamList .game-teamBlue ul,
.game-frame .game-teamList .game-teamRed ul {
    margin-bottom: 2em;
}

.game-frame .game-footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.game-frame .game-footer .leave-game {
    margin-top: 2em;
    margin-bottom: 1em;
}

@media(min-width: 768px) {

    .game-frame .game-teamList .game-teamBlue ul,
    .game-frame .game-teamList .game-teamRed ul {
        padding: 0;
    }

    .game-frame .game-teamList .game-teamRed {
        float: right;
        text-align: right;
    }

    .game-frame .game-teamList .game-teamRed h3 {
        text-align: right;
    }
}

@media(min-width: 992px) {

	.game-frame .game-startOverlay .game-overlayMessage {
		font-size: 6rem;
	}

    .game-frame .game-header {
        position: absolute;
    }

    .game-frame .game-round {
        position: absolute;
        height: 100%;
        margin: 0;
    }

    .game-frame .game-teamList {
        position: absolute;
        height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .game-frame .game-teamList .game-teamBlue ul,
    .game-frame .game-teamList .game-teamRed ul {
        margin: 0;
    }

    .game-frame .game-footer {
        position: absolute;
    }
}

/* Score Frame */

.score-frame #confetti {
	position: absolute;
	z-index: 5;
}

.score-frame .scores {
	position: absolute;
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
}

.score-frame .scores .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	height: 100%;
	width: 100%;
	margin: 0;
	
	border-radius: 0;
}

.score-frame .scores .card strong {
	font-size: 3rem;
}

.score-frame .scores .card span {
	font-size: 6rem;
	font-weight: 300;
}

.score-frame .score-footer {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.score-frame .score-footer .score-leave {
	z-index: 10;
}

@media(min-width: 768px) {
	.score-frame .scores {
		flex-direction: row;
	}
	
	.score-frame .score-footer {
		align-items: flex-end;
		padding-bottom: 1rem;
	}
}

/* Spinner Frame */

.spinner-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;
}

.spinner .card {
    margin: 0;
    padding: 0.5em;
    width: 100%;
    white-space: nowrap;
}

.spinner .card.chosen {
    transition-duration: 0.5s;
}

.spinner-trigger {
    margin-top: 1em;
}
